body {
    padding-top: 20px;
}

.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: auto;
}

.theme-showcase>p>.btn {
    margin: 5px 0;
}

.theme-showcase .navbar .container {
    width: auto;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */

.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}

.pannel-body {
    margin: 10px;
}